/*font-family: 'Montserrat', sans-serif;*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	color: white;
}
/*header start*/
header{
	background-color: #21243d;
}
.padding_0{
	padding-right: 0;
	padding-left: 0;
}
.white{
	background-color: white;
}
.custom_toggler{
	transition: .3s;
}
.custom_toggler:focus {
    outline: 0;
}
.custom_toggler:hover{
	background-color:#ffd17d;
}
.menu ul li a{
    font-size: 22px;
    font-weight: 400;
    color: white !important;
    margin-right: 50px !important;
    display: inline-block;
    transition: .3s;

}
.menu ul li:last-child a{
	margin-right: 0 !important;
}
.menu ul li a:hover{
    color:#ffd17d !important;
    transform: scale(1.1,1.1);
}
.custom_search{
	color: #ffd17d;
	box-shadow: none;
	transition:.3s;
}
.custom_search:focus{
	box-shadow: none;
}
.custom_search:hover{
	transform: scale(1.1,1.1);
    background-color:#ffd17d;	
}
/*header end*/
/*banner start*/
.banner{
	background-image: url('../images/sushi.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.b_content{
	font-family: 'Montserrat', sans-serif;
	margin-top: 148px;
	margin-bottom: 130px;
}
.b_content h1{
	font-size: 95px;
    font-weight: 700;
    margin-bottom: 33px;
}
.b_content p{
	font-size: 27px;
    line-height: 35px;
    word-spacing: 1px;
    letter-spacing: -1px;
}
.custom_button{
    width: 244px;
    height: 65px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    background-color: #21243d;
    border-radius: 50px;
    border: none;
    margin-top: 45px;
    transition: .3s;
}
.custom_button:focus{
	outline: 0;
}
.custom_button:hover{
	transform: scale(1.1,1.1);
}
/*banner end*/
/*pop_menu start*/
.pop_menu{
	background-color: #21243d;
	padding: 75px 0 75px 0;
}
.c_title{

}
.c_title h1{
	font-size: 45px;
	font-weight: 700;
	margin-bottom:0;
}
.c_title p{
	font-size: 23px;
	margin: 22px 0 40px 0;
	line-height: 29px;	
}
.single_item{
	transition: .3s;
}
.single_item:hover{
    transform: scale(1.1,1.1);
}
.single_item img{}
.single_item h2 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
}
.single_item p{
	font-size: 18px;
}
/*pop_menu end*/
/*packages start*/
.packages{
	background-color: #ffd17d;
	padding: 75px 0 75px 0;
}
.packages_pic{

}
.packages_content{
	margin-top: 40px;
}
.packages_content h1{
	font-size: 45px;
	font-weight: 700;
	color: #21243d;
}
.packages_content p{
	font-size: 23px;
	color: #21243d;
}
.custom_button1{
	margin-top: 30px;
}
/*packages end*/
/*statistics start*/
.statistics{
    background-color: #21243d;
	padding: 75px 0 75px 0;	
}
/*statistics end*/
/*seasonal_menu start*/
.seasonal_menu{
    background-color: #ffd17d;
	padding: 75px 0 75px 0;	
}
/*seasonal_menu end*/
/*quote start*/
.quote{
    background-image: url('../images/sushi_platter.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
}
.transparent_bg{
    background:rgba(21,25,47,0.9);
}
.quote_content{
	padding: 75px 0 75px 0;
}
.quote_img{}
.q_content{}
.q_content blockquote {
    font-size: 27px;
    word-spacing: 0px;
    letter-spacing: 0px;
    line-height: 30px;
    margin: 30px 0 15px 0;
}
.q_content h1{
    font-weight: 700;
    margin-bottom: 0;
}
/*quote end*/
/*subscribe start*/
.subscribe{
	background-color: #ffd17d;
	padding: 75px 0 120px 0;
}
.f_form{
	margin-top: 30px;
}
.f_email{
	width: 100%;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	border:none;
	border-radius: 27px;
	padding-right: 50px;
}
.f_email:focus{
	box-shadow: none;
}
.f_submit{
	width: 150px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #21243d;
	border-radius: 45px;
	margin-left: -70px;
	transition: .3s;
}
.f_submit:focus{
	box-shadow: none;
}
.f_submit:hover{
	transform: scale(1.1,1.1);
	color: white;
}
/*subscribe end*/
/*footer start*/
footer{
	background-color: black;
	padding: 75px 0 75px;
}
.address{}
.address h1{
	font-size:20px;
	font-weight: 400;
}
.social{}
.social_icon{
	font-size:30px;
}
.social_icon li{
	margin-right: 15px !important;
}
.social_icon li a{
	color: white;
	text-decoration: none;
	transition: .3s;
}
.social_icon li a:hover{	
    color: #ffd17d;
}
.social_icon i{
	transition: .3s;
}
.social_icon li:hover i{
    transform: scale(1.2,1.2);
    color: #ffd17d;
}
.f_1{}
.f_1 h2{
	font-size:20px;
	font-weight: 400;
}
.f_1 ul li{
	list-style: none;
}
.f_1 ul li a{
	color: white;
	display: inline-block;
	padding-bottom: 4px;
	text-decoration: none;
	transition: .3s;	
}
.f_1 ul li a:hover{
	color: #ffd17d;
	transform: scale(1.1,1.1);
}
/*footer end*/